<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Heart Prediction</title>
    <meta name="author" content="George Panov">
    <link rel="icon" href="icon/heart_cute_emoji_emo_icon_131637.ico">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <header>
        <h1>Heart Failure Prediction</h1>
    </header>

    <nav>

    </nav>
    <main>

        <form action="{{ url_for('predict')}}" method="post" class="container">
            <input type="number" name="age" placeholder="age" required>

            <!-- <input type="number" name="sex" placeholder="sex"><br> -->
            <select name="sex" required>
                <option value="" selected="true" disabled="disabled">sex</option>
                <option value="0">M</option>
                <option value="1">F</option>
            </select>

            <!-- <input type="number" name="chest_pain_type" placeholder="chest_pain_type"><br> -->
            <select name="chest_pain_type" required>
                <option value="" selected="false" disabled="disabled">chest_pain_type</option>
                <option value="0">ASY</option>
                <option value="1">NAP</option>
                <option value="2">ATA</option>
                <option value="3">TA</option>
            </select>

            <input type="number" name="resting_bp" placeholder="resting_bp" required>
            <input type="number" name="cholesterol" placeholder="cholesterol" required>

            <!-- <input type="number" name="fasting_bs" placeholder="fasting_bs"><br> -->
            <select name="fasting_bs" required>
                <option value="" selected="true" disabled="disabled">fasting_bs</option>
                <option value="0">больше 120 мг/дл</option>
                <option value="1">меньше 120 мг/дл</option>
            </select>


            <!-- <input type="number" name="resting_ecg" placeholder="resting_ecg">         -->
            <select name="resting_ecg" required>
                <option value="" selected="true" disabled="disabled">resting_ecg</option>
                <option value="0">normal</option>
                <option value="1">LVH</option>
                <option value="2">ST</option>
            </select>

            <input type="number" name="max_hr" placeholder="max_hr" required>

            <select name="exercise_angina" required>
                <option value="" selected="true" disabled="disabled">exercise_angina</option>
                <option value="0">N</option>
                <option value="1">Y</option>
            </select>

            <!-- <input type="number" name="exercise_angina" placeholder="exercise_angina"> -->
            <input type="number" name="oldpeak" step="0.1" placeholder="oldpeak" required>

            <!-- <input type="number" name="st_slope" placeholder="st_slope"> -->
            <select name="st_slope" required>
                <option value="" selected="true" disabled="disabled">st_slope</option>
                <option value="0">FLAT</option>
                <option value="1">UP</option>
                <option value="2">DOWN</option>
            </select>
            <button>Predict</button>

        </form>

        <br>
        <br>

        {{ prediction_text }}

    </main>


    <footer>
        Дипломный проект Георгия Панова
    </footer>
</body>

</html>